<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1 style="font-size: 45px;">Employee Management System</h1>
    <div class="container">
        <div class="container1">
            <h1>Login</h1>
        </div>
        <div class="container2">
            <form class="form">
                <input class="input1" type="text" name="name" placeholder="username" required>       
                <input class="input2" type="password" name="name" placeholder="password" required><br>
                <input class="submit" type="submit">
            </form>
        </div>
    </div>
</body>
</html>